language: java
jdk:
  - oraclejdk8
sudo: true
addons:
   mariadb: '10.1'
services:
   - rabbitmq
install: true

before_script:
  - cd scripts
  - source replace_props.sh
  - cd -

script: cd . && echo "mvn -e clean install"

before_deploy:
  - cd $TRAVIS_BUILD_DIR
  - tar -cf CodeDeployTest.tar . || true
  - mkdir -p "dpl_cd_upload"
  - mv CodeDeployTest.tar dpl_cd_upload/CodeDeployTest.tar || true

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY # declared in Travis repo settings
    secret_access_key: $AWS_SECRET_KEY
    local_dir: dpl_cd_upload
    bucket: airavata-develop
    region: us-east-1
    skip_cleanup: true
    acl: public_read
    detect_encoding: true
    on:
      repo: marpierc/CodeDeployTest
      all_branches: true
  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY # declared in Travis repo settings
    secret_access_key: $AWS_SECRET_KEY
    bucket: airavata-develop
    key: CodeDeployTest.tar
    bundle_type: tar
    application: MEP-Test-CodeDeploy
    deployment_group: MEP-Test-CodeDeploy
    region: us-east-1
    on:
      repo: marpierc/CodeDeployTest
      all_branches: true
after_deploy:
  - echo "Performing after deploy procedures..."
notifications:
  email:
    recipients:
      - marpierc@iu.edu
