language: java
jdk:
   - oraclejdk8
sudo: true
addons:
  mariadb: '10.1'
  #sauce_connect: true
services:
   rabbitmq
install: true
before_script:
   # Zookeeper
   - sudo apt-get install zookeeper
   - sudo apt-get install zookeeperd
   - sudo service zookeeper restart
   # Execute scripts
   - cd $TRAVIS_BUILD_DIR/scripts	
   - source rabbitmq-setup.sh
   - source db-setup.sh
   #PHP
   - sudo apt-get install apache2
   - sudo apt-get install php-soap
   - sudo apt-get install php
   - sudo apt-get install composer
   - sudo apt-get install php-mcrypt

script:
    # Build the code
    - cd $TRAVIS_BUILD_DIR
    - echo $TRAVIS_BUILD_DIR    
    - echo "mvn -e clean install"
    # Update airavata-server.properties
    - echo "Updating airavata-server.properties"
    # Start the Airavata server
    - echo "Starting the server."
    # 
    
before_deploy:
   - cd $TRAVIS_BUILD_DIR
   - tar -cf CodeDeployTest.tar . || true
   - mkdir -p "dpl_cd_upload"
   - mv CodeDeployTest.tar dpl_cd_upload/CodeDeployTest.tar || true
deploy:
   - provider: s3
     access_key_id: $AWS_ACCESS_KEY
     secret_access_key: $AWS_SECRET_KEY
     local_dir: dpl_cd_upload
     bucket: airavata-develop
     region: us-east-1
     skip_cleanup: true
     acl: public_read
     detect_encoding: true
     on:
       repo: marpierc/CodeDeployTest
       all_branches: true
   - provider: codedeploy
     access_key_id: $AWS_ACCESS_KEY
     secret_access_key: $AWS_SECRET_KEY
     bucket: airavata-develop
     key: CodeDeployTest.tar
     bundle_type: tar
     application: MEP-Test-CodeDeploy
     deployment_group: MEP-Test-CodeDeploy
     region: us-east-1
     on:
       repo: marpierc/CodeDeployTest
       all_branches: true
after_deploy:
   - echo "Performing after deploy procedures..."
notifications:
  email:
    recipients:
       - # marpierc@iu.edu
env:
   global:
      - secure: "FsNVgv54o/oelQfkOCcDfw1wIgtBcsp4J5OyFzNriblfjGegoOTDvHTVgEAxzdZ+g1jp/ZNNC2o0vufQbB3GT0SpQ8zXytxXH11XCezNEJsf56Pk6RnDpbpr1m4R2LoRp4Faau1GWPvwGdHrkS3u+iEVmH6SHchAA8OKFLqsH1DY8oGn66jhqkmotIzmXx7Il3j4/kEkSvFiNV7gPyh5YUEtvYgHoVBjS6MmNQIPuEOVDIq6/DIJ/O0gO/gSHRXnJeHnL7iduBPMnPsSTJQ45kqMDLkgsiiKT2t2UYm8pfxKjRbC+lgbkAZ7lOOLtehFEnRhiff4y5ZYYWY+z+B0/DKsjb+opEGOPL4z96ZAU+etgzxrNlnt9k4TsUjBUn9doTe7DzviIFDIFm+ZVvz0iwL0/qJURw2ENmiNH93Yv2HqfwHelL5DNNwy+CHyJQnMCP2UcLSGDwodxKO7gJdcXJ3hWOSmh8dMz3bx/jOnleh6HzFEHceTxC9qkl0kdAnHJG6PlzkacY8jFmLc21siiLW7I7Y5vy5WUglJbgE+KdtDJwehUNEVr+nZ56kr5Wphl8dlByaVmVIcE+8TboBHzfGTGBiQhxQb9Hln6Ct5opsWhh2FTEzG0ouARQuO3D+j/ekfoh2+cxNofsN19D+JdHngcttx9BYOM18CLHcN7pk="
      - secure: "ddACjw1ko4J/4d1Z6x3zKBD6Bj5YddSfknpa5P9OXsKzc6aFDmOMmOpS9dzT4JrMizlT+lJfBaQqKi4dOtJ1FYgakvWc4wwixnLcPTKtaLKuMWI0NwEOLpVnC4xrxAN5muTHlAF5F135r3Y39yX1x60mrAcNflpFaROW5VWc/zk0lIM0CZU85FQqwW/JJ9f36wLgk734PSlUn/XOXIK73XO/5GbVpjEtDRc+d9kVsJ7i+piQPoiGQD6Kd7xjRnQJcYnIwWK1peVL4rJhnwFYav6tHBE1Bw+ORgntvSMmazXtR1vYVvqHxTcnILvjoAnam5rojZib0/BVfEVPTszJBCAupQ2MUibrfZQJyEiU9PJNjM6SjqI8sMLMgKqIrBg6/FNwR3M/WmnBlYDzoonJbI6gfnx2V7B65WnTwQsaEoQhZK8gjnA/nnCdfSQ6DAZQBTY5YCaWZwL1MJ27kPu0KjKEO7dAvapyfyN2R6cy7iIR6Tb+6a+S3JbcFD1peN4EjH5IMf0s7yDClRO4fS7/EoBpy5E4SuKIH+Yb5VWuuVu3NbnftIgUjvWR2YMBg2UoeM9Ih+5W67z8vWE2UrvQS7LL1bku5XKmGyXu9PIiipsTdgGoiqP6XMVz0ubTWyoOdyWGKYtiasyTADIcjSPrDDSmML4wR4J9iS91VqZlWFw="

